$primary-color: #560bad;
$background-color: #ebf2fa;
$text-white: #fff;
$dark-blue: #0d1031cb;
$background-card: #fff;
$background-card-total: #560bad;
$background-dark: #2b2d42;

$text-income: #06d6a0;
$text-expense: #ef233c;
$text-description: #0d1031cb;
$button-new-Transaction: #06d6a0;
$button-new-Transaction-hover: #019971;
